{
    "telegram_token": "",
    "telegram_chat": "",
    "telegram_enabled": false,
    "save_interval": 5,
    "telegram_interval": 120,
    "cam_folder": "CAM_captured",
    "scr_folder": "SCR_captured"
}